Nexus/

Lobby/_CommonRedist/
Lobby/appcache/
Lobby/config/
Lobby/Content/
Lobby/DedicatedServer64/
Lobby/Logs/
Lobby/steamapps/
Lobby/steamcmd/
Lobby/TempContent/
Lobby/tmp/

Sol/_CommonRedist/
Sol/appcache/
Sol/config/
Sol/Content/
Sol/DedicatedServer64/
Sol/Logs/
Sol/steamapps/
Sol/steamcmd/
Sol/TempContent/
Sol/tmp/

Void/_CommonRedist/
Void/appcache/
Void/config/
Void/Content/
Void/DedicatedServer64/
Void/Logs/
Void/steamapps/
Void/steamcmd/
Void/TempContent/
Void/tmp/