Lobby/
Sol/
Demo1/
Demo2/

Nexus/
config.json

Game Backups/Lobby/
Game Backups/Deepspace/
Game Backups/Sector/

LobbyTemplate/_CommonRedist/
LobbyTemplate/appcache/
LobbyTemplate/config/
LobbyTemplate/Content/
LobbyTemplate/DedicatedServer64/
LobbyTemplate/depotcache/
LobbyTemplate/Logs/
LobbyTemplate/steamapps/
LobbyTemplate/steamcmd/
LobbyTemplate/TempContent/
LobbyTemplate/tmp/
LobbyTemplate/Instance/*.log
LobbyTemplate/Instance/Content/

Sector/_CommonRedist/
Sector/appcache/
Sector/config/
Sector/Content/
Sector/DedicatedServer64/
Sector/depotcache/
Sector/Logs/
Sector/steamapps/
Sector/steamcmd/
Sector/TempContent/
Sector/tmp/
Sector/Instance/Storage/1918681825.sbm_WeaponCore/
Sector/Instance/Storage/*.log
Sector/Instance/Storage/*.txt
Sector/Instance/FoogsRewards.cfg
Sector/Instance/*.log
Sector/Instance/Content/

GeneralTemplate/_CommonRedist/
GeneralTemplate/appcache/
GeneralTemplate/config/
GeneralTemplate/Content/
GeneralTemplate/DedicatedServer64/
GeneralTemplate/depotcache/
GeneralTemplate/Logs/
GeneralTemplate/steamapps/
GeneralTemplate/steamcmd/
GeneralTemplate/TempContent/
GeneralTemplate/tmp/
GeneralTemplate/Instance/Storage/1918681825.sbm_WeaponCore/
GeneralTemplate/Instance/Storage/*.log
GeneralTemplate/Instance/Storage/*.txt
GeneralTemplate/Instance/FoogsRewards.cfg
GeneralTemplate/Instance/*.log
GeneralTemplate/Instance/Content/