Nexus/

Game Backups/Lobby/
Game Backups/Deepspace/
Game Backups/Sector/

Lobby/_CommonRedist/
Lobby/appcache/
Lobby/config/
Lobby/Content/
Lobby/DedicatedServer64/
Lobby/Logs/
Lobby/steamapps/
Lobby/steamcmd/
Lobby/TempContent/
Lobby/tmp/
Lobby/Instance/*.log

Sector/_CommonRedist/
Sector/appcache/
Sector/config/
Sector/Content/
Sector/DedicatedServer64/
Sector/Logs/
Sector/steamapps/
Sector/steamcmd/
Sector/TempContent/
Sector/tmp/
Sector/Instance/FoogsRewards.cfg
Sector/Instance/*.log

Void/_CommonRedist/
Void/appcache/
Void/config/
Void/Content/
Void/DedicatedServer64/
Void/Logs/
Void/steamapps/
Void/steamcmd/
Void/TempContent/
Void/tmp/
Void/Instance/FoogsRewards.cfg
Void/Instance/*.log